@import "constans";
@import "mixins";

body, html {
  height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #3e3e3e;
}

#app {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 12px;
  line-height: 14px;
}

p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.button {
  min-width: 132px;
  height: 36px;
  border-radius: 2px;
  background-color: @primary;
  //box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

  button {
    background: @primary;
  }

  &:hover {
    background: @primaryActive;
  }

  &.start-over {
    margin-right: 20px;
  }

  &.warning {
    background: red;
  }

  &.disable {
    cursor: default;
    background: gray;
  }

  &.new-cluster {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 10;
  }
}

.flex {
  .flex-center();

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    align-content: space-around;;
  }

  &.top {
    align-items: flex-start;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.column {
    flex-flow: column;
  }

  &.stretch {
    align-items: stretch;
  }

  .start {
    align-self: flex-start;
  }

  .end {
    align-self: flex-end;
  }
}

.step-item {
  height: 100%;
}

.description {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 30px 0;

  span {
    font-weight: bold;
  }
}

.app-wrapper {
  min-width: 1024px;
  width: 100%;
}

.step-item {

  .description {
    max-width: 775px;
  }
}

.form-block {
  min-height: 50%;
  box-sizing: border-box;
  position: relative;

  .title {
    padding-bottom: 10px;

    h3 {
      color: #faae42;
    }
  }

  .input-block {
    padding-bottom: 20px;
  }
}

.bottom-block {
  width: 100%;
  min-height: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px;
  .flex-center();
  justify-content: space-between;

  &.right {
    justify-content: flex-end;
  }
}

.loader-popup {
  background: none !important;
  box-shadow: none !important;
  text-align: center;
}

.popup {
  border-radius: 2px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    width: 100%;
    background-image: linear-gradient(271deg, #ffcb49, #f4a12a);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

.radio-button-group {
  margin-bottom: 15px;
  max-width: 970px;

  .radio {
    width: 226px;
    height: 153px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    border: solid 1px #f4f4f4;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    .flex-center-column();

    &.active {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
      border: solid 2px #faae42;
    }

    &.no-active {
      opacity: 0.5;
      cursor: default;
    }

    .icon {

      &.margin {
        margin-bottom: 30px;
      }

    }

    .title {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
    }
  }
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(271deg, #ffcb49, #f4a12a);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}
