@import "../../../assets/less/constans";
@import "../../../assets/less/mixins";

.home {
  height: 100%;
  width: 100%;
  padding: 10px 27px;
  box-sizing: border-box;

  .top-line {
    padding: 25px 0 12px;
  }

  .table-header {
    color: #fff;
    font-weight: bold;
    padding-top: 8px;
    font-size: 20px;
    vertical-align: middle;
    background-image: linear-gradient(to bottom, #a3d6e2, #0411f9);
    border-radius: 2px;
    margin-bottom: -2px;
    position: relative;
    z-index: 10;
  }

  .content {
    position: relative;
    margin-top: 30px;
  }

  .status {
    font-size: 10px;
  }
}

.info-buttons {
  padding: 0 2px 15px 2px;
  max-width: 250px;
}

.button {

  &.cancel {
    margin-right: 15px;
  }
}

.table {
  border: 0;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  box-sizing: border-box;
  overflow: hidden;

  th, td {
    font-size: 16px !important;
    color: #3e3e3e !important;
  }

  .header {
    margin-bottom: -1px;
    color: #fff;

    .row {
      color: #fff !important;
      font-weight: bold !important;
      padding-top: 8px;
      font-size: 20px !important;
    }

    .column {
      font-weight: bold !important;
    }
  }

  .body {
    background: #fff;
  }

  .column {
    vertical-align: middle !important;
    border: solid 1px #dedede;

    &.actions {
      text-align: center !important;
    }
  }

  .row {
    vertical-align: middle !important;
    background-image: linear-gradient(to bottom, #ffcb49, #f4a12a);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

.actions {

  .icon {
    transition: all 0.3s ease 0s;

    &.info {
      color: #dedede;
    }

    &.mode {
      color: #dedede;
    }

    &.delete {
      color: #dedede;
    }

    &:hover {

      &.info {
        color: #4bacc5;
      }

      &.mode {
        color: #8bc34a;
      }

      &.delete {
        color: #ff3d00;
      }
    }
  }
}
