@import "../../../assets/less/constans";
@import "../../../assets/less/mixins";

.login {
  .flex-center();
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #ffcf57, #f4a12a);

  h3 {
    color: #faae42;
  }

  .login-block {
    width: 365px;
    height: 352px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.24), 0 25px 55px 0 rgba(0, 0, 0, 0.19);
    padding: 35px;
  }

  .login-head {
    .flex-center();
    padding-bottom: 40px;
  }

  .buttons-block {
    .flex-center();
  }

  .input-block {
    margin-bottom: 20px;
    position: relative;
  }

  .error-message {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}
